ABOUT

<p>
Ex-frasis is a web-based platform where the
individual art viewer can publicly share thoughts,
impressions, and insights about a work of art in
real time. Ex-frasis is based on the premise that it is
possible to develop sustained personal interaction
with a work of art by electronically connecting
strangers and promoting individual thought.
</p>
<p>
Ex-frasis signifes the end of the age of the art critic.
The critic exists as an interpreter, but in the age of
intersectionality and personal expression, the
dividing line between “critic” and “viewer” must be
deconstructed. Today, as art is oriented less around
specific pieces, rather it is exhibitions themselves
that become bodies of work intended for viewing.
Public interpretation is more important that designated
words or general themes.
</p>
<p>
Ex-frasis is a form of social media focused on an
letting people speak to what art means to them.
No longer does the voice of the critic hegemonically
dicate the meaning of art. Ex-frasis is the
democracy of interpretation.
</p>
