<div class="row artwork-header">
  <div class="col-xs-2"></div>
  <div class="col-xs-7">
    <div class="row">
      <div class="col-xs-12 artist-name">
        <h2 class="exfrasis-heading">
          <%= @artwork.artist_name %>
        </h2>
      </div>
      <div class="col-xs-12 artwork-title">
        <%= @artwork.title %>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    HEART
  </div>
</div>

<% @artwork.comments.each do |comment| %>
  <div class="col-xs-12 artwork-image">
    <%= comment.text %>
  </div>
<% end %>

<form action="/comments" method="post">
  <input type="text">
  <input type="submit" value="Submit comment">
</form>

