@import "bootstrap-sprockets";
@import "bootstrap";
@import "navigation";
@import "heading";
@import "about";

body {
  font-family: 'CarlitoRegular';
}

@font-face {
  font-family: "Walkway Ultracondensed";
  src: asset-url('walkway_ultracondensed.ttf') format("truetype");
}
