.artwork-image {
  img {
    max-width: 100%;
  }
}

.artist-name {
  border-bottom: 1px black solid;
  text-align: center;
}

.artwork-header {
  margin-bottom: 10px;
}

.artwork-title {
  font-size: 19px;
  text-transform: uppercase;
  text-align: center;
}

.artwork-comment {
  border-bottom: 1px black solid;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.artwork-comment-text {
  font-size: 16px;
}

.artwork-slider {
  background-color: black;
}

.trigger {
  color: black;
}

#trigger-right {
  position: absolute;
  right: -2px;
  top: 20vh;
}

#trigger-left {
  position: absolute;
  left: -2px;
  top: 20vh;
}

.comment-form {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
  .btn-form-submit {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.heart-image {
  img {
    width: 100%;
    padding-top: 15px;
  }
}
