.exfrasis-heading {
  text-transform: uppercase;
  font-family: 'Walkway Ultracondensed';
}

h3.exfrasis-heading {
  display: inline-block;
  font-size: 20px;
  border-bottom: 2px solid black;
  margin-top: 25px;
  margin-bottom: 15px;
}
