.exfrasis-heading {
  text-transform: uppercase;
}

h3.exfrasis-heading {
  display: inline-block;
  font-size: 23px;
  border-bottom: 1px solid black;
  margin-top: 25px;
  margin-bottom: 15px;
}

h2.exfrasis-heading {
  display: inline-block;
  font-size: 17px;
  margin-top: 25px;
  margin-bottom: 3px;
}

h3.artist-heading {
  width: 100%;
}



