.nav {
  li {
    a {
      font-size: 11px;
      padding: 4px 8px;
      color: black;
    }
  }
}

.nav-image {
  img {
    height: 50px;
  }
  margin: 10px 10px 10px 10px; // top right bottom left
}

.nav-tabs {
  border-bottom: none;
  border-top: none;
  width: max-content;
  margin: 0 auto;
}

.nav-wrapper {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
}
