<ul class="nav nav-tabs">
  <li>
    <a href="/home">Home</a>
  </li>
  <li>
    <a href="/about">About</a>
  </li>
  <li>
    <a href="/artwork">Exhibition</a>
  </li>
  <li>
    <a href="/artists">Artists</a>
  </li>
  <li>
    <a href="/map">Map</a>
  </li>
</ul>
