<ul class="nav nav-tabs">
  <li>
    <a href="/home">/home/</a>
  </li>
  <li>
    <a href="/about">/about/</a>
  </li>
  <li>
    <a href="/artwork">/exhibition/</a>
  </li>
  <li>
    <a href="/artists">/artists/</a>
  </li>
  <li>
    <a href="/map">/map/</a>
  </li>
</ul>
