<%# <%= render inline: (render file: Rails.root.join('app', 'assets', 'images', 'exfrasis-logo.svg')) %1> %>
<div class="nav-image">
  <%= image_tag "exfrasis-logo-png.png" %>
</div>
<div class="nav-wrapper">
  <ul class="nav nav-tabs">
    <li>
      <a href="/home">/home/</a>
    </li>
    <li>
      <a href="/about">/about/</a>
    </li>
    <li>
      <a href="/artwork">/exhibition/</a>
    </li>
    <li>
      <a href="/artists">/artists/</a>
    </li>
    <li>
      <a href="/map">/map/</a>
    </li>
  </ul>
</div>
